<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/react.min.js"></script>
    <script src="/javascripts/JSXTransformer.js"></script>
    <script src="/javascripts/first.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div id="example"></div>
  </body>
</html>
